@{
    ViewData["Title"] = "Home Page";
}

<!--Insert Model-->
@model BookListViewModel

<!--Insert Header-->
    <h1>Books</h1>


<!--For Each book in the database use the Book Summary File to list Details-->
@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b"/>


}

<!--Set up buttons to highlight active page-->
<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled ="true" 
    page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class = "btn-group pull-right m-1"></div>


